/*  importacoes de estilo  */
/* _______________________________________________________________________________________ */

@import url("./pagina__inteira.css");

/*  importacoes de estilo do header  */

@import url("./header/cabecalho.css");
@import url("./header/cabecalho__menu__lateral.css");
@import url("./header/cabecalho__de__cima.css");
@import url("./header/cabecalho__menu__direito.css");

/*  importacoes de estilo do main  */

@import url("./main/principal.css");

/*  importacoes de estilo do footer */



/*  importacoes de fontes */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


/* Todo o conteudo da pagina  */
/* _______________________________________________________________________________________ */

/* Variaveis globais */

:root {
    
    /*  cores que serão usadas no elementos da pagina  */
    
    --cor-elemento-01: black;
    --cor-elemento-02: #252627;
    --cor-elemento-03: #2A2929;
    --cor-elemento-04: linear-gradient(52.7deg, #072041 -8.87%, #041833 50%, #154580 108.87%);
    --cor-elemento-05: #C4C4C433;
   

    /*  cores que serão usadas apenas no textos da pagina  */

    --cor-texto-01: #0F3666;
   
  
    
    /*  cores que serão usadas no textos e elementos da pagina  */
    

    
    
    /* fontes  */

    --fonte-logo: "Shadows Into Light", cursive; /* fonte Da logo do site */
    --fonte-01: "Open Sans", sans-serif; /* fonte principal */
    
}

.pagina__inteira {

    color: white;
    font-family: var(--fonte-01);

}












