/*  importacoes de estilo  */
/* _______________________________________________________________________________________ */

/*  importacoes de estilo do header  */

@import url("./header/cabecalho.css");
@import url("./header/cabecalho__menu__lateral.css");

/*  importacoes de estilo do main  */



/*  importacoes de estilo do footer */



/*  importacoes de fontes */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');


/* Todo o conteudo da pagina  */
/* _______________________________________________________________________________________ */

/* Variaveis globais */

:root {
    
    /*  cores que serão usadas no elementos da pagina  */
    
    --cor-elemento-01: #252627;
    --cor-elemento-02: linear-gradient(52.7deg, #072041 -8.87%, #041833 50%, #154580 108.87%);
   

    /*  cores que serão usadas apenas no textos da pagina  */

    
    
   
  
    
    /*  cores que serão usadas no textos e elementos da pagina  */
    
    
    
    
    /* fontes  */

    --fonte-01: "Open Sans", sans-serif; /* fonte principal */
    
}

.pagina__inteira {

    color: white;
    font-family: var(--fonte-01);

}












