.cabecalho__de__cima {

    background: var(--cor-elemento-03);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;


    .cabecalho__de__cima__apresentacao {

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin: 0px 0px 20px 0px;

        .cabecalho__de__cima__apresentacao__logo {

            width: 50px;

        }

        .cabecalho__de__cima__apresentacao__titulo {

            font-family: var(--fonte-logo);
            font-weight: 400;
            font-size: 40px;

        }

    }

    .cabecalho__de__cima__intens {

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px 0px;

        .cabecalho__de__cima__setas {

            .cabecalho__de__cima__setas__anterior {
    
                width: 25px;
    
            }
    
            .cabecalho__de__cima__setas__proximo {
    
                width: 25px;
                margin: 0px 20px;
    
            }
    
        }
    
        .cabecalho__de__cima__icones {
    
            .cabecalho__de__cima__icone {
    
                width: 25px;
                margin: 0px 10px;
    
            }
    
        }
    
    }

    .cabecalho__de__cima__categoria {

        margin: 25px 0px;

        .cabecalho__de__cima__tipo__escolha {

            margin: 0px 20px 20px 0px;

        }

    }


}

    

@media (min-width: 720px ) { 

    .cabecalho__de__cima {

        .cabecalho__de__cima__apresentacao {

        /*  display: none;  */

        }

    }

}
