.cabecalho__menu__esquerdo {

    display: none;
    
}

@media (min-width: 720px ) { 

    .cabecalho__menu__esquerdo {

        background: var(--cor-elemento-01);
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 30px 20px;
        
        .cabecalho__menu__lateral__apresentacao {

            display: flex;
            align-items: center;
            gap: 5px;
            margin: 0px 0px 30px 0px;

            .cabecalho__menu__lateral__apresentacao__logo {

                width: 50px;
               
            }

            .cabecalho__menu__lateral__apresentacao__titulo {

                font-family: var(--fonte-logo);
                font-weight: 400;
                font-size: 40px;
                color: var(--cor-texto-01);
                margin: 0px 0px 0px 10px;
                
            }

        }

        .cabecalho__menu__lateral__opcoes {

            background: var(--cor-elemento-02);
            padding: 20px 20px 20px 20px;
            border-radius: 5px;
            margin: 10px 0px;

            .ativo__continer {

                color: var(--cor-texto-01);

            }

            .cabecalho__menu__lateral__opcoes__titulo {

                margin: 30px 0px 30px 0px;
                font-weight: 700;
                font-size: 1.2em; 
                
    
            }

            .cabecalho__menu__lateral__opcoes__icone {

                width: 25px;

            }

            .cabecalho__menu__lateral__opcoes__intens {

                display: flex;
                align-items: center;
                gap: 15px;

                .cabecalho__menu__lateral__opcoes__intens__icone {

                    width: 25px;
    
                }
    
                .cabecalho__menu__lateral__opcoes__intens__texto {
    
                    margin: 20px 0px 20px 0px;
    
                }

                .cabecalho__menu__lateral__opcoes__intens__texto:hover {
    
                    color: var(--cor-texto-01);
    
                }

            }

            .biblioteca__apresentacao {

                display: flex;
                align-items: center;
                justify-content: space-between;
    
                .biblioteca__container__div {
    
                    display: flex;
                    gap: 15px;
                    display: flex;
                    align-items: center;

                    .cabecalho__menu__lateral__opcoes__icone__biblioteca {

                        width: 40px;

                    }

                    
            
                    .cabecalho__menu__lateral__opcoes__icone {
    
                        width: 25px;
                       
                    }
    
                }

            }

            .biblioteca__intens {

                margin: 25px 0px 0px 0px;

                .cabecalho__menu__lateral__opcoes__intens__biblioteca {

                    display: grid;
                    grid-template-columns: 60px 12px 12px 100px 12px;
                    grid-template-rows: auto auto auto auto;
                    gap: 0.8em;
                 
                    .cartao__imagem__biblioteca {
        
                        grid-area: 1 / 1 / 4 / 2;
                        width: 100%;
                        height: 100%;
                    
                    }
                    
                    .cartao__titulo__biblioteca {
                    
                        grid-area: 2 / 2 / 3 / 5;
                    
                    }
                    
                    .cartao__icone__biblioteca {
                    
                        width: 15px;
                        grid-area: 3 / 2 / 3 / 5;
                    
                    }

                    .cartao__icone__biblioteca-02 {
                    
                        width: 15px;
                        grid-area: 3 / 3 / 4 / 5;
                        transform: rotate(90deg);
                
                    }

                    .cartao__descricao__biblioteca {

                        grid-area: 3 / 4 / 4 / 7;
                        white-space: nowrap; 
                        overflow: hidden; 
                        text-overflow: ellipsis; 
                        cursor: pointer; 
                        opacity: 50%;

                    }

                    .cartao__icone__ativo__biblioteca {

                        grid-area: 2 / 6 / 2 / 7;
                        width: 15px;

                    }

                }

            }

        }

    }

}
