/*  importacoes de estilo  */
/* _______________________________________________________________________________________ */

/*  importacoes de estilo do header  */

@import url("./header/cabecalho.css");

/*  importacoes de estilo do main  */

@import url("./main/vizualizarMusica.css");
@import url("./main/adicionarMusica.css");

/*  importacoes de estilo do footer */



/*  importacoes de fontes */


/* Todo o conteudo da pagina  */
/* _______________________________________________________________________________________ */

/* Variaveis globais */

:root {
    
    /*  cores que serão usadas no elementos da pagina  */
    
    --cor-elemento-01: black;
    --cor-elemento-02: #252627;
    --cor-elemento-03: #2A2929;
    --cor-elemento-04: linear-gradient(52.7deg, #E2EA48 -8.87%, #EACB48 50%, #FFC632 108.87%);
    --cor-elemento-05: #C4C4C433;
    --cor-elemento-06: linear-gradient(52.7deg, #0A0A03 -8.87%, #0F0D05 50%, #0F0C03 108.87%);
    --cor-elemento-07: #F0F4F7;

    
    /*  cores que serão usadas apenas no textos da pagina  */

    --cor-texto-01: #FFC632;
   
  
    
    /*  cores que serão usadas no textos e elementos da pagina  */
    

    
    
    /* fontes  */

    --fonte-logo: "Shadows Into Light", cursive; /* fonte Da logo do site */
    --fonte-01: "Open Sans", sans-serif; /* fonte principal */
    
}

.pagina__inteira {

    color: black;
    font-family: var(--fonte-01);
    background: var(--cor-elemento-07);
    

}